<!DOCTYPE HTML>

<%
  books = load_books()
  tags = load_tags()
  if req.query['tag']
    tag = URI.decode(req.query['tag']).to_s
    tag.force_encoding(Encoding::UTF_8)  # fixme
    books = books.select{ |b| b.tags.include? tag }
  end
%>

<html>
  <head>
    <meta charset="utf-8" />
    <title>My Manga Books</title>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <style>
      body {
          position: absolute;
          left: 5%;
      }
      #div_tags_box {
          width: 1080px;
          margin: 0 0 20px 0; # top right buttom left
      }
      .book {
          float: left;
          margin: 5px;
          padding: 10px;
          width: 500px;
          //height: 80px;
          border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <p>Welcome to My Manga Books</p>
    <ul>
      <li>path=<%= req.path %></li>
      <li>query=<%= req.query.to_s %></li>
      <li>pwd=<%= Dir.pwd %></li>
      <li>all books=<%= load_books().size %></li>
      <li>books=<%= books.size %></li>
    </ul>
    <div id="div_tags_box">
      All Tags:
      <button onclick="$('#div_tags').show()" >Show Tags</button>,
      <button onclick="$('#div_tags').hide()" >Hide Tags</button>
      <br/>
      <div id="div_tags" hidden="true">
        <a href="main">Back to All</a>,
        <% tags.each do |tag, num| %>
        <a href="main?tag=<%= tag %>"><%= tag %></a><%= "(#{num})," %>
        <% end %>
      </div>
    </div>
    <div id="div_books">
      <% books.each do |book| %>
      <div class="book">
        <div>
          <%= "#{book.dir} #{book.img_files.size}P Like:#{book.nlike}" %>
        </div>
        <a href="view?book=<%=book.id%>"><%= book.title %></a>
      </div>
      <% end %>
    </div>
  </body>
</html>
