<!DOCTYPE HTML>

<% books = load_books() %>

<html>
  <head>
    <meta charset="utf-8" />
    <title>My Manga Books</title>
    <style>
      body {
          position: absolute;
          left: 5%;
      }
      .book {
          float: left;
          margin: 5px;
          padding: 10px;
          width: 500px;
          //height: 80px;
          border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <p>Welcome to My Manga Books</p>
    <ul>
      <li>path=<%= req.path %></li>
      <li>pwd=<%= Dir.pwd %></li>
    </ul>
    <% books.each do |book| %>
    <div class="book">
      <%= "#{book.dir} #{book.img_files.size}P" %><br/>
      <a href="view?book=<%=book.dir%>"><%= book.title %></a>
    </div>
    <% end %>
  </body>
</html>
