<!DOCTYPE HTML>
<% book = get_book(req.query['book']) %>
<% prev_book = get_prev_book(book) %>
<% next_book = get_next_book(book) %>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Manga Book</title>
    <script src="/jquery.min.js" type="text/javascript"></script>
    <style>
      #images {
          max-width:1200px;
          width:800px;
          position:relative;
          #left:100px;
          #right:200px;
      }
      body {
          position:absolute;
          left:10%;
          right:10%;
      }
    </style>
    <script type="text/javascript">
      function mk_like(id, inc) {
          $.post("/async",
                 { book: id, like: inc },
                 function(data, status){
                     e = document.getElementById("bk_like_" + id);
                     e.innerHTML = "Like:" + data
                 }
                );
      }
    </script>
  </head>

  <body>
    <p>My Manga Book: <%= book.dir %></p>
    <ul>
      <li>path=<%= req.path %></li>
      <li>book=<%= req.query['book'] %></li>
      <li>pwd=<%= Dir.pwd %></li>
    </ul>
    <div>
      <%= "#{book.dir} #{book.images.size}P " %>
      <div class="like_info">
        <span id="bk_like_<%= book.id %>"><%= "Like:#{book.nlike}" %></span>
        <button type="button" onclick="mk_like('<%= book.id %>', -1)">Unlike</button>
        <button type="button" onclick="mk_like('<%= book.id %>', 1)">Like</button>
      </div>
      <%= book.title %><br/>
      Tags: <%= book.tags.join(',') %>
    </div>
    <div id="images">
      <p>
        <% if prev_book %>
        <a href="view?book=<%= prev_book %>">Prev</a>
          ||  
        <% end %>
        <a href="main">Back to Main</a>
        <% if next_book %>
          ||  
        <a href="view?book=<%= next_book %>">Next</a>
        <% end %>
      </p>

      <div id="image">
        <% book.images.each do |imgfile| %>
        <img src="<%=imgfile%>"/>
        <% end %>
      </div>
    </div>
  </body>
</html>
